{
  "log": {
    "_recordingName": "fetchApplications",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "68692ed96e085eab550b21a15bbb26da",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-org-id",
              "value": ""
            },
            {
              "_fromType": "array",
              "name": "x-api-key",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "contenttype",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://console.jumpcloud.com/api/organizations"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 288,
            "text": "{\"totalCount\":1,\"results\":[{\"_id\":\"60259a2ad81e1a474d4e7c83\",\"id\":\"60259a2ad81e1a474d4e7c83\",\"displayName\":null,\"logoUrl\":null,\"created\":\"2021-02-11T20:57:14.837Z\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"a6-li2T9RYtoKUz1R9KdaIOzhovpiE\""
            },
            {
              "name": "x-response-time",
              "value": "23.326ms"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 326,
      },
      {
        "_id": "09275cefb190c93cd7e0c90d7de260d8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-org-id",
              "value": ""
            },
            {
              "_fromType": "array",
              "name": "x-api-key",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "contenttype",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "skip",
              "value": "0"
            }
          ],
          "url": "https://console.jumpcloud.com/api/applications?limit=100&skip=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 7122,
            "text": "{\"totalCount\":1,\"results\":[{\"_id\":\"617c3664e6f8ae27f7e1201e\",\"id\":\"617c3664e6f8ae27f7e1201e\",\"active\":true,\"name\":\"aws-sso\",\"displayName\":\"AWS SSO\",\"displayLabel\":\"AWS SSO\",\"beta\":false,\"color\":null,\"organization\":\"60259a2ad81e1a474d4e7c83\",\"logo\":{\"url\":\"https://s3.amazonaws.com/static.jumpcloud.com/applications/logos/application-icon-aws-sso.png\"},\"ssoUrl\":\"https://sso.jumpcloud.com/saml2/aws-sso\",\"learnMore\":\"https://support.jumpcloud.com/support/s/article/Single-Sign-On-SSO-With-AWS-SSO\",\"description\":\"\",\"config\":\"[REDACTED]\",\"databaseAttributes\":[],\"created\":\"2021-10-29T17:59:00.448Z\",\"sso\":{\"jit\":false,\"beta\":false,\"type\":\"saml\",\"idpCertExpirationAt\":\"2026-10-29T17:58:59.000Z\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"1c62-66cQlj3h+/zuTjC/FTQQalE7oDk\""
            },
            {
              "name": "x-response-time",
              "value": "32.781ms"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
  [...]
