{
  "log": {
    "_recordingName": "fetchGroups",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "68692ed96e085eab550b21a15bbb26da",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-org-id",
              "value": ""
            },
            {
              "_fromType": "array",
              "name": "x-api-key",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "contenttype",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://console.jumpcloud.com/api/organizations"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 288,
            "text": "{\"totalCount\":1,\"results\":[{\"_id\":\"60259a2ad81e1a474d4e7c83\",\"id\":\"60259a2ad81e1a474d4e7c83\",\"displayName\":null,\"logoUrl\":null,\"created\":\"2021-02-11T20:57:14.837Z\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"a6-li2T9RYtoKUz1R9KdaIOzhovpiE\""
            },
            {
              "name": "x-response-time",
              "value": "18.345ms"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 97,
      },
      {
        "_id": "1d84288435302b119716cf580d2f5e5d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-org-id",
              "value": ""
            },
            {
              "_fromType": "array",
              "name": "x-api-key",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "contenttype",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "skip",
              "value": "0"
            }
          ],
          "url": "https://console.jumpcloud.com/api/v2/usergroups?limit=100&skip=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 344,
            "text": "[{\"attributes\":null,\"id\":\"60259a3cb544065d1eaf2760\",\"name\":\"All Users\",\"type\":\"user_group\",\"email\":\"\",\"description\":\"\"},{\"attributes\":null,\"id\":\"6026da081f24755306c2ee0d\",\"name\":\"My Test Group\",\"type\":\"user_group\",\"email\":\"\",\"description\":\"Testing!\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-total-count",
              "value": "2"
            },
            {
              "name": "etag",
              "value": "W/\"fb-h4HBNCcLP[...]
