{
  "log": {
    "_recordingName": "fetchUsers",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "68692ed96e085eab550b21a15bbb26da",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-org-id",
              "value": ""
            },
            {
              "_fromType": "array",
              "name": "x-api-key",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "contenttype",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://console.jumpcloud.com/api/organizations"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 288,
            "text": "{\"totalCount\":1,\"results\":[{\"_id\":\"60259a2ad81e1a474d4e7c83\",\"id\":\"60259a2ad81e1a474d4e7c83\",\"displayName\":null,\"logoUrl\":null,\"created\":\"2021-02-11T20:57:14.837Z\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"a6-li2T9RYtoKUz1R9KdaIOzhovpiE\""
            },
            {
              "name": "x-response-time",
              "value": "18.267ms"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 106,
      },
      {
        "_id": "9d2ff41e8a9b812a18957793f854b77b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-org-id",
              "value": ""
            },
            {
              "_fromType": "array",
              "name": "x-api-key",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "contenttype",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "skip",
              "value": "0"
            }
          ],
          "url": "https://console.jumpcloud.com/api/systemusers?limit=100&skip=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1128,
            "text": "{\"totalCount\":1,\"results\":[{\"account_locked\":false,\"account_locked_date\":null,\"activated\":false,\"addresses\":[],\"allow_public_key\":true,\"attributes\":[],\"company\":\"\",\"costCenter\":\"\",\"department\":\"\",\"description\":\"Testing desc\",\"disableDeviceMaxLoginAttempts\":false,\"displayname\":\"Austin K\",\"email\":\"austin.kelleher+testjc@jupiterone.com\",\"employeeIdentifier\":null,\"employeeType\":\"\",\"enable_managed_uid\":false,\"enable_user_portal_multifactor\":false,\"external_dn\":\"\",\"external_source_type\":\"\",\"externally_managed\":false,\"firstname\":\"Austin\",\"jobTitle\":\"\",\"lastname\":\"Kelleher\",\"ldap_binding_user\":false,\"location\":\"\",\"mfa\":{\"exclusion\":false,\"configured\":false},\"middlename\":\"\",\"password_never_expires\":false,\"passwordless_sudo\":false,\"phoneNumbers\":[],\"samba_service_user\":false,\"ssh_keys\":[],\"sudo\":false,\"suspended\":false,\"systemUsername\":\"\",\"unix_guid\":5001,\"unix_uid\":5001,\"username\":\"austinkellehertest\",\"created\":\"2021-02-12T17:45:42.369Z\",\"password_expired\":false,\"totp_enabled\":false,\"_id\":\"6026bec6b8207255280d5981\",\"id\":\"6026bec6b8207255280d5981\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"420-UztIUJrh8USdMZmdXHEDLXJFLn0\""
            },
            {
              "name": "x-response-time",
              "value": "28.978ms"
            }
          ],
          "status":[...]
